 /**
 * LAYOUT - jquerymobile
 * Ce script ...
 *
 * @package openmairie_exemple
 * @version SVN : $Id$
 */

/*popup*/
#popupPanel-popup {
    right: auto !important;
    left: 0 !important;
}

#popupPanel {
    width: 265px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(57,62,68,1.0);
    height: 100%;
}
#popupPanel .ui-btn {
    margin: 0.0em 0px;
}
/* menu*/
#panneau {
    width: 266px;
	border-radius: 10px;
    border:2px solid #000000;
    background:gray;
    height: 100%;
    margin:0.0em 0.0em 0.0em 0.0em;
}
#header {border-radius:1px;border:1px solid gray;
}
#footer {border-radius:1px;border:1px solid gray;
}
/*background:darkblue url("../img/bg.png") top left repeat-y !important;*/
/* bouton close menu*/
#close-menu{padding:1px;}
/* menu login et collectivite */
.action-login-mobile{text-align:center;color:#2051C0;font-size:10px;font-weight:bold;}

/* affichage icone tri entete table */
#table-mobile .ui-icon-triangle-1-e,.ui-icon-triangle-1-n,.ui-icon-triangle-1-s {
    background-color: #24445c;
    border-radius: 16px 16px 16px 16px;
    display: block;
    height: 32px;
    margin: 0;
    padding: 1px;
    width:50px;
    border:2px solid #ffffff;
}

/* onglets.*/
#onglets { border:0px solid #000000;}
#onglets a{font-weight:normal;}
#onglets .ui-btn-inner{ border:1px solid #000000;padding-left: 1px;}
#onglets .ui-btn-inner,.ui-btn-text {
	-webkit-border-radius: 0px;	
	border-radius:5px;
}

#accordion { border:0px solid #000000;}
#accordion a{font-weight:normal;}
#accordion .ui-btn-inner{ border:0px solid #000000;padding-left: 25px;}
#accordion  {
	-webkit-border-radius: 0px;	
	border-radius:5px;
}

/*sous formulaire*/
#sousform-om_droit{background-color:#d9dde9;border-radius: 10px;color:#000000;padding: 0px 2px 2px 2px;}
#sousform-om_utilisateur{background-color:#ffffff;border-radius: 5px;color:#000000;padding: 0px 2px 2px 2px;border:solid #ffffff 0px;}
#sousform-om_widget{background-color:#d9dde9;border-radius: 10px;color:#000000;padding: 0px 2px 2px 2px;}

/* formulaire affichage libelle et champs*/
.champFormulaire{background-color:  #d9dde9  ;color:#000000;border-radius: 10px;height:25px;font-size:14px;}
/*a5bef2*/
#form-content{background-color:#ffffff;color:#000000;border-radius: 10px;border-top:solid #000000 1px;border-bottom:solid #000000 1px;border-left:solid #000000 1px;border-right:solid #000000 1px;
padding: 0px 0px 5px 5px;
}
.boutonmulti{background-color:yellow;color:#000000;font-weight:bold;vertical-align:middle;}
#textarea-multi{background-color:  #d9dde9 ;color:#000000;font-size:14px;padding: 5px 5px 5px 5px;}

/*voir*/
#logo {font-size:14px;width:150px}
#content {background-color:#ffffff;color:#000000;border:solid #ffffff 7px;border-radius: 10px;padding : 1px 1px 1px 5px}
#img-voir {color:#000000;border:solid #000000 1px;}

#form-libelle-mobile{color:#677179;padding: 0px}
/*requeteur*/
#sous_titre_requeteur{background-color:red;}
/*upload*/
#ui-input-text{background-color:yellow;width:25%;}
.ui-icon-arrowthickstop-1-s{padding-left: 25px;padding-right:20px;padding-top: 5px;padding-bottom: 5px;width:50px;background-image: url("../img/triangle-droit.png");background-size: 30px 30px;background-repeat: no-repeat;}
.ui-icon-newwin{padding-left: 25px;padding-right:20px;padding-top: 5px;padding-bottom: 5px;width:50px;;background-image: url("../img/triangle-droit.png");background-size: 30px 30px;background-repeat: no-repeat;}
/*couleur libelle formulaire*/
.bloc {color:#303030;padding : 0px 0px 2px 0px}

/* titre sous form*/
.subtitle{color:#000000;font-size:15px;font-weight:bold;padding : 0px 0px 0px 0px}
/* entete.*/
#title{color:darkblue;font-size:15px;font-weight:bold;padding : 0px 0px 0px 0px}
/*recherche table*/
.tab-search{ padding : 10px 5px 5px 5px;border-radius: 3px; width:98%;border:1px solid #2a334f;background-color: #EAE9F0 ;}
.champFormulaire-recherche{padding : 0px 0px 0px 0px;background-color:#CACFF7;color:#000000;border-radius: 10px;height:35px;font-size:16px;}
/* ilmage pour tri entete tableau*/
.ui-icon-triangle-1-e{border-radius:0px;border:solid #ffffff 0px;background-color:transparent;padding-left:20px;background-image: url("../img/triangle-droit.png");background-repeat: no-repeat;}
.ui-icon-triangle-1-n{border-radius:0px;border:solid #ffffff 0px;background-color:transparent;padding-left:20px;background-image: url("../img/triangle-haut.png");background-repeat: no-repeat;}
.ui-icon-triangle-1-s{border-radius:0px;border:solid #ffffff 0px;background-color:transparent;padding-left:20px;background-image: url("../img/triangle-bas.png");background-repeat: no-repeat;}

/*.consult-16 {padding-left:20px;background-image: url("../img/consulter.png"); background-repeat: no-repeat;}*/
/*table genauto*/
.tabcolData{background-color:#ffffff; }
.reqmochecked{width:50px;}
.tabDataMouvement{color:#000000; }
.reqmochecked0{color:#000000; }
.tabcol{color:#000000;background-color:#ffffff;font-weight:bold;}
.text-green{color:#2a334f; }
.text-red{color:darkred; }

/*table*/
.ui-table-columntoggle{ border-radius: 5px; width:100%;border-collapse:separate;border:1px solid #2a334f;background-color:#ffffff;font-size:14px;font-weight:normal;color:gray;}
.ui-table-columntoggle a{color:#24445c;text-decoration:none;}
.ui-table-columntoggle  a:hover{color:darkblue;text-decoration:underline;}
.ui-table-columntoggle th {border-radius: 0px;vertical-align:middle;text-align:left;background-color:#EAE9F0 ;color:#000000;text-decoration:none;font-weight:bold;border-top:0px solid #efefef; border-bottom:0px solid #efefef;
border-left:1px solid #D8D7E0; border-right:1px solid #D8D7E0;}
.ui-table-columntoggle thead a{background-color:transparent;color:#000000;text-decoration:none;font-size:14px;}
.ui-table-columntoggle td {border-radius: 0px; vertical-align:middle;background-color: #ffffff  ; border-top:1px solid #efefef; border-bottom:1px solid #efefef;
border-left:1px solid #efefef; border-right:1px solid #efefef;}
/*pagination*/
.pagination-text{color:#2a334f;}

/* a voir pour fond zone saisie texte.ui-input-text {width:200px;background-color:red;}*/

/*navbar modifier supprimer ect ...  */
/* fond fielset formulaire*/
.ui-body-d{
	border-top:solid #000000 1px;border-bottom:solid #000000 1px;border-left:solid #000000 1px;border-right:solid #000000 1px /*{d-body-border}*/;
	color: 					#333 /*{d-body-color}*/;
	text-shadow: 0 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ 	#fff /*{d-body-shadow-color}*/;
	background: 			#D8E2EE/*{d-body-background-color}*/;
    padding: 2px 2px 2px 2px;
}
.ui-body-titre-navbar {
	border-top:solid #2a334f 2px;border-bottom:solid #2a334f 2px;border-left:solid #2a334f 2px;border-right:solid #2a334f 2px /*{d-body-border}*/;
	color: 					#000000 /*{d-body-color}*/;
	text-shadow: 0 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ 	#fff /*{d-body-shadow-color}*/;
    padding: 0px 0px 0px 0px;
	border-radius: 10px 10px 10px 10px;
}

.ui-overlay-d {
	border-top:solid #000000 0px;border-bottom:solid gray 0px;border-left:solid #000000 0px;border-right:solid #000000 0px /*{d-body-border}*/;
	color: 					#333 /*{d-body-color}*/;
	text-shadow: 0 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ 	#fff /*{d-body-shadow-color}*/;
	background: 			#ffffff /*{d-body-background-color}*/;
    padding: 2px 2px 2px 2px;
}


.ui-body-e,
.ui-overlay-e {border-radius: 10px;
	border-top:solid #000000 0px;border-bottom:solid gray 0px;border-left:solid #000000 0px;border-right:solid #000000 0px; /*{d-body-border};
	color: 					#333 /*{d-body-color}*/;
	text-shadow: 0 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ 	#fff /*{d-body-shadow-color}*/;
	background: 			#ffffff /*{d-body-background-color}*/;
	padding: 0px 2px 3px 0px;
}
/*message erreur*/
.ui-bar-e{border-radius: 10px;
	border-top:solid #000000 1px;border-bottom:solid #000000 1px;border-left:solid #000000 1px;border-right:solid #000000 1px; 
	color:#ffffff; /*{d-body-color};
	text-shadow: 0 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ 	#fff /*{d-body-shadow-color}*/;
	background: 			orange /*{d-body-background-color}*/;
	padding: 2px 2px 3px 2px;
}
/*SIG*/
#titre-sig a{text-decoration:none;color:darkblue;font-size:25px;font-weight:bold;padding : 0px 0px 0px 0px}
#layerswitcher {width:250px;background-color:red;}
#layerswitcher  .dataLbl {text-align:center;background-color:transparent;font-size:12px;color:yellow;}
#layerswitcher  .dataLayersDiv {text-align:center;background-color:transparent;font-size:12px;color:#ffffff;}
#layerswitcher .layersDiv{text-align:center;background-color:transparent;font-size:12px;color:yellow;}
#layerswitcher .baseLayersDiv{text-align:center;background-color:transparent;font-size:12px;color:#ffffff;}
#layerswitcher .baseLayers{text-align:center;background-color:#000000;font-size:12px;color:orange;}

/*personnaliser icone .ui-icon- suivi du nom icone (ex dessin) en relation avec data-icon=\"dessin\" apres data-role
.ui-icon-dessin{
		background-image: url("../img/dessiner.png");
		background-size: 36px 36px;
	}
*/