/**
 * Cette feuille de style contient le style principal.
 * 
 * @package openmairie_exemple
 * @version SVN : $Id$
 */

/**
 * MAIN
 */

/* GENERAL */
* { margin:0; padding:0; }
body { font-size:11px; font-family:Verdana,Arial,sans-serif; background-color:#f3f3f3; }
img { border: 0 none; }
a, a:active, a:visited { text-decoration:none; outline: none; }
a:hover { text-decoration:underline; outline: none; }
.visualClear { clear: both; }
.hiddenStructure { background: none repeat scroll 0 0 transparent; border: medium none; display: block; height: 1px; margin: -1px 0 0 -1px; overflow: hidden; padding: 0; width: 1px; }
.both { clear:both; }

/* IE6 & IE7 Fix */
* html img { behavior: url('../js/iepngfix.htc'); }
* html .ie6pngfix { position: relative; }
* html form { margin: 0; }
*:first-child+html form { margin: 0; }

/* STRUCTURE HTML */
#header { clear:both; border-bottom:5px solid #fefefe; height:50px; min-width:780px; padding:5px; font-weight:bold; }
#logo { float:left; text-align:left; }
#actions { float: right; text-align: right; height:25px; }
#actions img { vertical-align: middle; }
#actions ul { list-style: none; }
#actions ul li { border-right: 2px solid; float: left; padding: 0 5px; }
#actions ul li.last { border-right: 0 none; }
#shortlinks { float: right; text-align: right; clear: right; height:25px; }
#shortlinks img { vertical-align: middle; }
#shortlinks ul { list-style: none; }
#shortlinks ul li { border-right: 2px solid; float: left; padding: 0 5px; }
#shortlinks ul li.last { border-right: 0 none; }
#menu { position:absolute; left:0; width:170px; margin:5px; }
#content { padding:10px; }
#content, #footer { margin:5px 5px 5px 180px; min-width: 605px; }
#content.nomenu, #footer.nomenu { margin-left:5px; }
#content a, #content a:active, #content a:visited { text-decoration:none; }
#content a:hover { text-decoration:underline; }
#footer { padding:5px; text-align:center; font-weight:bold; }
#footer span { padding:2px 5px ; }

/* STRUCTURE HTML SPECIFIC */
body.login #content, body.login #footer { margin: 5px 5px 5px 5px; min-width:0; }
body.htmlonly #content { margin: 5px 5px 5px 5px; min-width: 100px; }
body.login #menu { display: none; }

/* MESSAGE */
div.message, #message { padding:10px 20px; margin:5px 0; }
div.message .ui-icon, #message .ui-icon { float:left; margin-right:0.3em; }
div.message .text, #message .text { display:block; padding-left: 22px; }

/* CONTENU */
#title { padding:3px 10px; margin-bottom:10px; }
#title h2 { margin:0; font-size:13px; text-transform: capitalize; }
#title_subtext { padding:3px 10px; margin-bottom:10px; }
#title_subtext h2 { font-size:12px; text-transform: capitalize; color:#555555; }
.subtitle { padding:3px 10px; margin-bottom:10px; }
.subtitle h3 { margin:0; font-size:12px; }
#title h2 img, .subtitle h3 img { vertical-align:bottom; }
.pageDescription { margin:5px 0; }
.pageDescription p { text-align:justify; }
#help { float:right; text-align:right; padding:5px 10px; }
#dialog { display: none; }
div.instructions { margin-bottom: 10px; }
.text-red { color:red; }
.text-green { color:green; }

/*  */
.om-icon { float:left; text-indent:-99999px; background-repeat: no-repeat; display:block; }
.om-icon-right { float: right !important; }
.om-icon-left { float: left !important; }

/* Dialog */
#dialog-confirm { display:none; }

/* LINK JS CLOSE WINDOW */
#content p.linkjsclosewindow:hover a { text-decoration:none; }

/* LOCALISATION */
#localisation-draggable { width:10px; height:10px; position:absolute; display:block; right:0; bottom:0; background-color:#bcd5e6; text-align:center; }

/* RVB */
#palette { float:left; width:100px; }
#boites { float:right; width:150px; padding:8px; }

/* TABLE */
div.tab-pagination { float:left; -moz-border-radius:4px 4px 0px 0px; height:30px; border:1px solid #CCCCCC; margin: 0 10px; border-bottom:0 none; background-color: #efefef; }
div.tab-pagination .pagination-nb { float:left; padding: 7px; }
div.tab-pagination .pagination-select { float:right; padding: 2px; }
div.tab-pagination .pagination-text { float:left; padding:0 3px; }
div.tab-pagination .pagination-prev { float:left; padding:0 3px; }
div.tab-pagination .pagination-next { float:right; padding:0 3px; }
* html div.tab-pagination { width: 50%; }
* html div.tab-pagination .pagination-nb { width: 300px; }
*+html div.tab-pagination { width: 50%; }
*+html div.tab-pagination .pagination-nb { width: 300px; }
div.tab-search { float: right; clear: both; padding: 1px 5px; vertical-align: top;}
div.tab-edition { float: right; margin: 0 0 0 10px; padding: 3px 0;}
div.tab-export { float: right; margin: 0 0 0 10px; padding: 3px 0;}
table.tab-tab { -moz-border-radius:4px; border-collapse:separate; width:100%; border: 1px solid #EFEFEF;  clear:both;  }
table.tab-tab tr.tab-title { background-color:#F2F2F2; padding:3px; }
table.tab-tab tr.tab-title th { font-weight:bold; height:30px; text-align:center; }
table.tab-tab tr.tab-title th.title { text-align:left; }
table.tab-tab tr.tab-title th.title span.name { float:left; }
table.tab-tab tr.tab-title th.title .ui-icon { float:left; }
table.tab-tab tr.tab-title th a, table.tab-tab tr.tab-title th a:visited { text-decoration:none; }
table.tab-tab tr.tab-title th a:hover { text-decoration:none; }
table.tab-tab tr.tab-data { border:1px solid #CCCCCC; border-collapse:separate; }
table.tab-tab tr.tab-data td { padding:2px; text-align:left; vertical-align:top; }
table.tab-tab tr.tab-data.empty td { text-align:center; }
table.tab-tab tr.tab-data td.icons { border-left:0 none; border-right:0 none; vertical-align: middle; text-align:center; }
table.tab-tab tr.tab-data td span.ui-icon { float:left; }
tr.odd td { background-color:#FFFFFF; }
tr.even td { background-color:#EFEFEF; }
tr.even td.icons { vertical-align: middle; }
td.icon { width:20px; }
td.right { text-align:right !important; }
td.left { text-align:left !important; }
img.actionicon {vertical-align:text-top; }
thead tr th.actions-max-1 { width: 30px; }
thead tr th.actions-max-2 { width: 55px; }
thead tr th.actions-max-3 { width: 80px; }
thead tr th.actions-max-4 { width: 105px; }
thead tr th.actions-max-5 { width: 130px; }
thead tr th.actions-max-6 { width: 155px; }
thead tr th.actions-max-7 { width: 180px; }
thead tr th.actions-max-8 { width: 205px; }
thead tr th.actions-max-9 { width: 230px; }
thead tr th.actions-max-10 { width: 255px; }

/* FORM */
.formEntete img { vertical-align:middle; }
.formEntete { margin:0; width:auto; border:1px solid #cdcdcd; background-color:#ffffff; padding:10px; overflow: auto; }
.field { width:100%; vertical-align: middle; display: table-row;}
.field-type-hidden, .field-type-hiddendate { display:none; }
.field-type-date { display: table-row; }

.form-libelle { display:table-cell; padding: 2px 5px; vertical-align: middle; }
.form-content {display: table-cell;line-height: 20px;vertical-align: middle;width: auto;}
.group .field:not(.field-type-hidden) {width: auto;margin-left:0px;margin-right: 10px;display: table-cell;}
.bloc.group{display:table-row;}
.bloc-titre { font-weight: bold; }
.bloc.fullwidth .field, .bloc.fullwidth .field .form-libelle, .bloc.fullwidth .field .form-content { display: block; }
.bloc.hidelabel .field .form-libelle { display: none; }
.fieldsetContent{ display:table; width: 100%; }
.pre { white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; }
.bold {font-weight: bold;}


/* les champs de gauche du tableau doivent être contenu dans un bloc de classe comboG
 * et les champs de droite dans un bloc comboD
 */
.comboG, .comboD{float:left;}

div.formControls { padding:5px 0; }
#formulaire form a:focus { outline: 1px dotted; }
input.upload, input.voir, input.localisation, input.rvb, input.mail, input.combog, input.combod, input.comboc { float:left; }
a.upload, a.voir, a.localisation, a.rvb, a.mail, a.combog, a.combod, a.comboc { float: left; }
.collapicon_plus {background-image: url("../img/legend-collapsed-20x16.png") !important; cursor: pointer;}
.collapicon_less {background-image: url("../img/legend-collapsible-20x16.png") !important; cursor: pointer;}
button.localisation span.ui-button-text { padding:0; }


/**
 * TINYMCE
 *----------------------------------------------------------------------------/
 
/**
 * TINYMCE - default.
 *
 * Propriétés CSS permettant de faire refléter dans la fiche de visualisation
 * de l'édition la police et la taille de police des chaînes de texte par défaut
 * (sur lesquelles aucun style spécifique n'a été appliqué dans TinyMCE) telles 
 * qu'elles apparîssent dans l'édition PDF.
 */
.field-type-htmlstatic .form-content{
    font-family: Helvetica;
    font-size: 12pt;
    padding: 10px;
    line-height: normal;
}

/**
 * TINYMCE - min_maj.
 */
.mce_min, .mce_maj {
    border: 1px dotted #000000;
}
.mce_min {
    text-transform: lowercase;
}
.mce_maj {
    text-transform: uppercase;
}

/**
 * TINYMCE - barcode.
 * 
 * Propriétés CSS permettant de visualiser dans la fiche de visualisation
 * de l'édition si la propriété code barres est activée ou non sur une chaîne
 * de caractères.
 */
.mce_codebarre {
    border: 1px dotted black;
    background: #DEDEDE url("../img/barcode.png") no-repeat left top;
    background-position :  0% 0%;
    background-size: 24px;
    padding-left : 28px;
    padding-top:0;
}
.mce_codebarre:after {
    content: "\a  ";
    white-space: pre;
}

/**
 * TINYMCE - pagebreak.
 *
 * Gestion des sauts de page dans les formulaires d'édition : om_lettretype et 
 * om_etat. Le saut de page est représenté par <br pagebreak='true' />. Pour
 * que cet élément soit visible en consultation on ajoute en javascript une 
 * balise <p class="pagebreak"></p> juste après le <br /> en question pour 
 * afficher le saut de page de manière visible. Le br ne pouvant pas être
 * directement stylé via le css.
 */
br[pagebreak="true"] {
    display: none;
}
p.pagebreak {
    border: 1px dashed #000 !important;
    height: 5px;
    padding : 0 !important;
    margin: 0 !important;
    clear: both !important;
}

/**
 * TINYMCE - table_unbreakable_breakable_property.
 * 
 * Propriétés CSS permettant de visualiser dans la fiche de visualisation
 * de l'édition si la propriété est activée sur un tableau ou non.
 */
table[nobr="true"] {
    border : 1px dotted #000000;
    background: transparent url("../img/mce_table_unbreakable_breakable_property.png") no-repeat left top;
}


/*
 * TINYMCE - sousetat.
 *
 * Gestion des sous-états dans les fiches de consultation des éditions.
 */
.mce_sousetat {
    background: url("../img/sousetat.png") no-repeat scroll 0 0 / 16px auto #dedede;
    border: 1px dotted black;
    padding-left: 20px;
    padding-top: 0;
}

/**
 * TINYMCE
 *----------------------------------------------------------------------------/

/* FORM PORTLET */
div#portlet-actions {
    width:auto;
    float:right;
    padding:5px;
    margin-left:10px;
    font-size: 11px;
    font-weight:bold;
    background: none repeat-x scroll 50% 50% #E6E6E6;
}
div#portlet-actions ul.portlet-list {list-style:none outside none;}
div#portlet-actions ul.portlet-list li {padding:5px;}

/* ADVANCED SEARCH */
#advanced-form { margin-bottom: 15px;}
#adv-search-adv-fields .field {float:left;width: auto;}
#adv-search-adv-fields .formEntete {background-color: transparent;}
.raz_advs {margin: 5px;padding: 5px 0 5px 0;}

/* FIELDSET */
fieldset { padding:10px 5px; margin:0 0 2px 0; }
fieldset legend { padding:5px; }
fieldset.collapsed { padding: 0 5px !important; }

/* TEXTAREA */
textarea {width:99%;}

/* LIST */
div.choice { float:left; width:220px; margin:5px; padding:5px 10px;}
div.choice img { vertical-align: middle; }

/* MENU */
#menuopen_val { display: none; }
#menu div.rubrik { margin:0; padding:0 0 3px 0; background-color: #fafafa; }
#menu ul.rubrik { padding:0; margin:0; list-style-type:none; overflow:hidden; }
#menu li.elem:hover, #menu li.hr { background-color:#999999; }
#menu li.hr { border-bottom: 1px solid #cdcdcd; }
#menu li.elem { font-size: 11px; padding:0; margin:0; display:block; }
#menu li.elem a:hover, #menu li.elem:hover a , #menu li.elem.ui-state-focus a { color:#ffffff; text-decoration:none; }
#menu li.elem a { display:block; color:#434343; padding:2px; margin:0px 1px 0px 3px; background-repeat: no-repeat; background-position: left center; }
#menu li.category { font-weight: bold; background-color: #E2E2E2; padding:2px; margin:0px 1px 0px 3px; border-top: 1px solid #cdcdcd; }
#menu li.category:hover { color: #434343 !important; display: block; background-color: #E2E2E2; }
#menu li.elem.ui-state-focus { border: 0 none; }
#menu .rubrik { text-transform: capitalize; }

/* DASHBOARD */
#dashboard-composer #dashboard { border: 1px solid #cdcdcd; padding: 10px; }
#dashboard { }
#dashboard .column { min-height:150px; }
#dashboard .col1 .column { float:left; width:100%; }
#dashboard .col2 .column { float:left; width:50%; }
#dashboard .col3 .column { float:left; width:33%; }
#dashboard .col4 .column { float:left; width:25%; }
#dashboard .col5 .column { float:left; width:20%; }
* html #dashboard .column { position:relative; }
#dashboard .widget-add-action { clear: both; }
#dashboard .widget { margin-top:0; margin-right:0; margin-bottom:1em; margin-left:0; }
#dashboard .col2 #column_1 .widget,
#dashboard .col3 #column_1 .widget,
#dashboard .col4 #column_1 .widget,
#dashboard .col5 #column_1 .widget { margin-right:0.5em; }
#dashboard .col2 #column_2 .widget,
#dashboard .col3 #column_3 .widget,
#dashboard .col4 #column_4 .widget,
#dashboard .col5 #column_5 .widget { margin-left:0.5em; }
#dashboard .col3 #column_2 .widget,
#dashboard .col4 #column_2 .widget,
#dashboard .col4 #column_3 .widget,
#dashboard .col5 #column_2 .widget,
#dashboard .col5 #column_3 .widget,
#dashboard .col5 #column_4 .widget { margin-left:0.5em; margin-right:0.5em; }
#dashboard .widget-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
#dashboard .widget-header-move { cursor: move; }
#dashboard .widget-header .ui-icon { float: right; cursor: pointer; }
#dashboard .widget-content-wrapper { padding: 0.4em; }
#dashboard .ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
#dashboard .ui-sortable-placeholder * { visibility: hidden; }
#dashboard .widget-content { overflow: auto; }

/* LOG */
div.log-box { clear:both; bottom:0; left:0; width: 100%;}
div.log-box fieldset { overflow-y:scroll; margin:10px 0; padding:5px; }
div.log-box span.url { font-weight: bold; }
div.log-box span.debug span.type { color:#ff0000; }
div.log-box span.verbose span.type { color:#666666; }
div.log-box span.extra_verbose span.type { color:#999999; }
div.log-box span.type { font-weight: bold; float:right;}
div.log-box span.message { }
div.log-box div.odd { background-color: #efefef; }
div.log-box div.even { background-color: #ffffff; }

/* POSITIONNEMENT EN GRILLE */
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6,
.col_7, .col_8, .col_9, .col_10, .col_11, .col_12
{display: block; float: left; margin: 0;}

.col_1 {width: 6.66667%;}
.col_2 {width: 15%;}
.col_3 {width: 23.3333%;}
.col_4 {width: 31.6667%;}
.col_5 {width: 40%;}
.col_6 {width: 48.3333%;}
.col_7 {width: 56.6667%;}
.col_8 {width: 65%;}
.col_9 {width: 73.3333%;}
.col_10 {width: 81.6667%;}
.col_11 {width: 90%;}
.col_12 {width: 98.3333%;}

/* generateur */
.gen-error {
    color:#CD0A0A;
    font-weight: bold;
}
.gen-ok {
    color:green;
    font-weight: bold;
}

/**
 * Affichage des fichiers
 */
/* On limite la largeur d'affichage des images dans le fichier spg/voir.php */
#voir img { max-width: 800px; }
/* On affiche le lien de téléchargement d'un fichier */
p.file-infos-block { padding: 3px; }
p.file-infos-block .discreet { color: #868686; font-size: 85%; font-weight: normal; }
/* On affiche un icone mimetype devant le lien de téléchargement de fichier */
p.file-infos-block a.file-download { background-image: url('../img/mimetype-default.png');}
p.file-infos-block a.file-download.mimetype-application-pdf { background-image: url('../img/mimetype-application-pdf.png'); }
p.file-infos-block a.file-download.mimetype-image-jpeg { background-image: url('../img/mimetype-image-jpeg.png'); }
p.file-infos-block a.file-download.mimetype-image-png { background-image: url('../img/mimetype-image-png.png'); }
p.file-infos-block a.file-download.mimetype-image-gif { background-image: url('../img/mimetype-image-gif.png'); }


/* FORM AUTOCOMPLETE */

/* Autocomplete */
.autocomplete-container {
    width: 325px;
}

input.autocomplete,
a.autocomplete,
span.autocomplete { 
    float: left; 
    display: inline;
    margin-right: 3px;
}

a.autocomplete { 
    cursor: pointer;
}

span.autocomplete { 
    cursor: help;
}

.info-16,
.check-16 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.check-16 {
    background-image:url("../img/check-16x16.png");
}

.info-16 {
    background-image:url("../img/info-16x16.png");
}

.autocomplete_criteria,
.autocomplete_table,
.autocomplete_ajout,
.autocomplete_identifiant,
.autocomplete_libelle,
.autocomplete_join,
.autocomplete_group_by,
.autocomplete_where {
    display: none;
}

.autocomplete-italique,
.autocomplete-italique:hover,
.autocomplete-italique:focus,
.autocomplete-italique:active {
    font-style: italic !important;
}

.autocomplete-gras,
.autocomplete-gras:hover,
.autocomplete-gras:focus,
.autocomplete-gras:active {
    font-weight: bold !important;
}


/*  INTERFACE SIG */

.csv-25 { background-image: url("../img/csv.png"); }
.sig-25 { background-image: url("../img/sig.png"); }
#map-edit {display: none;padding:0px;}
#encaps-map {position:relative;width:100%; height: 780px;background-color:#ffffff;padding:0px;}
#map-menu {background-color:#ffffff;}
#map-titre{position:absolute;top:1px;height:10px;width:82%;border-left: solid #37508A 1px;border-top: solid #37508A 1px;left:2px;background-color:#37508A;color:#ffffff;border-radius:5px 5px 0px 0px;padding:6px;text-transform: uppercase;font-size:10px;font-weight:bold;}
#map-infos{height:250px;width:14%;position:absolute;left:84%;top:510px;padding:7px;background:#9FE855;font-size:11px;font-weight:normal;color:#000000;border:1px dotted darkgray;text-align:left;border-radius:5px 5px 5px 5px;text-transform: uppercase;}
#map-id{ width:83%;height:96%;position: absolute;left:2px;top:24px;padding:6px;border:1px solid #000000;}
#map-layers{overflow-y: hidden;overflow-x: hidden;width:15%;position: absolute;top:1px;height:500px;border:1px solid #37508A;left:84%;background-color:#ffffff;color:black; border-radius:8px;font-size:9px;
    font-weight:normal;}
#map-layers-datas{position:absolute;top:20%;width:90%;height:auto;padding:5px;background-color:#ffffff;border-radius:1px 1px 0px 0px;}
#map-layers-markers{position:absolute;top:40%;width:90%;height:auto;padding:5px;background-color:#ffffff;}
#map-layers-overlays{position:absolute;top:60%;width:90%;height:auto;padding:5px;background-color:#ffffff;border-radius:0px 0px 1px 1px;}
#map-layers-bases{width:100%;position:absolute;top:20%;padding:10px;}
#map-tools{}
#map-tools-bao{width:100%;height:25px;background:#ffffff;font-size:11px;font-weight:normal;color:#000000;}
#table-tools{width:100%;background:#ffffff;font-size:9px;color:#000000;text-align:left;}
#table-tools td {background:#ffffff;width:50%;padding:6%;}
#table-tools a {color:#56739A;text-decoration:none;font-weight:bold;}
#table-tools a:hover {color:#03224C;}
#cadre-geom{background:#ccccff;padding:2px;color:#000000;font-size:9px;}
#cadre-geom-choix {background:#ffffff;padding:2px;color:#000000;font-size:9px;border:4px double #ccccff}
#table-edit-geom{padding:1px;background:#ccccff;width:100%;font-size:9px;color:#000000;border-top:1px dotted  #ffffff;text-align:justify;}
#map-edit {width:100%;position:relative;top:-34px;background:#37508A;font-size:9px;color:darkblue;width:100%;height:auto;font-size:11px;}
#table-edit-choix-geom{width:100%;background:#26619C;font-size:9px;color:#ffffff;text-align:left;}
#table-edit-geom a {color:#56739A;text-decoration:none;font-weight:bold;}
#table-edit-geom a:hover {color:#03224C;}
#table-edit-geom td {width:30%;text-align:center;}
#table-edit{width:100%;height:auto;background:#ccccff;font-size:9px;color:#000000;border:1px solid   #ffffff;text-align:center;}
#table-edit td {background:#F2F2FF;height:20%;border:3px double #ffffff;padding:2%;border-radius:5px;text-align:center;}
#table-edit a {color:#56739A;text-decoration:none;font-weight:bold;}
#table-edit a:hover {color:#03224C;}
#map-legende{position:absolute;top:130px;width:auto;background:#ffffff;color:#000000;font-size:10px;font-weight:normal;text-align:left;}
#map-edit-legende{height:50px; width: auto;}
#map-edit-legende-select{ height:50px;width: auto; border:0px solid darkgray;}
#map-edit-legende-fond{background-image:url(../img/back.png);height:50px; width: 45%; border:1px solid darkgray;}
#map-edit-legende-select-fond{background-image:url(../img/back.png); height:50px;width: 45%; border:1px solid darkgray;}
#map-getfeatures{width:15%;position: absolute;top:1px;left:84%;height:99%;border:1px solid darkgray;background-color:#ffffff;color:black; border-radius:8px;font-size: 10px;font-weight:normal;}
#map-getfeatures-datas{border:0px dotted darkblue;height:auto;padding:5px;background-color:#ffffff;}
#map-getfeatures-datas li {color:#303030;list-style-image: url(../img/map-info-off-16x16.png);}
#map-getfeatures-markers{border:0px dotted darkblue;height:auto;padding:5px;background-color:#ffffff;}
#map-getfeatures-markers a {color:#56739A;text-decoration:none;font-weight:bold;font-size:10px;text-transform: uppercase;}
#map-getfeatures-markers a:hover {color:#03224C;text-decoration:none;font-weight:bold;font-size:10px;text-transform: uppercase;}
#map-getfeatures-markers li {color:#303030;list-style-image: url(../img/map-info-16x16.png);}
#map-getfeatures-flux{border:0px dotted darkblue;height:auto;padding:5px;background-color:#ffffff;}
#map-getfeatures-flux a {color:#56739A;text-decoration:none;font-weight:bold;font-size:10px;text-transform: uppercase;}
#map-getfeatures-flux a:hover {color:#03224C;text-decoration:none;font-weight:bold;font-size:10px;text-transform: uppercase;}
#map-getfeatures-flux li {color:#303030;list-style-image: url(../img/map-info-flux-16x16.png);}
#table-edit-geom{padding:1px;background:#ffffff;width:100%;font-size:9px;color:#000000;text-align:justify;border:1px dotted #56739A;}
#cadre-geom-choix {background:#ffffff;padding:2px;color:#000000;font-size:9px;border:1px dotted #56739A}
/*interface infos */
#flux-table {width:100%;font-size:10pt;background:#ffffff;color:#000000;border:1px solid #000000;}
#flux-td-titre {border-bottom: 1px solid #303030;width:100%;font-size:8pt;font-weight:bold;background:#303030;color:#ffffff;}
#flux-td-soustitre {width:100%;border-bottom: 1px dotted #000000;border-top: 1px dotted #000000;font-size:8pt;font-weight:bold;background:gray;color:#ffffff;text-transform: lowercase;}
#flux-td-lib-champs {width:100%;font-size:7pt;font-weight:bold;background:#ffffff;color:#7f7f7f;}
#flux-td-value-champs {width:auto;font-size:7pt;font-weight:bold;background:#ffffff;color:#000000;}
#map-getfeatures{width:15%;position: absolute;top:1px;left:84%;height:99%;border:0px solid darkgray;background-color:MidnightBlue;color:#ffffff; border-radius:8px;font-size:10px;font-weight:normal;}
#map-getfeatures-markers{font-size:9px;border:0px dotted darkblue;height:auto;padding:5px;background-color:#ffffff;}
#map-getfeatures-markers a {font-size:9px;color:#56739A;text-decoration:underline;font-weight:bold;font-size:10px;text-transform: uppercase;}
#map-getfeatures-markers a:hover {font-size:9px;color:#03224C;text-decoration:none;font-weight:bold;font-size:10px;text-transform: uppercase;}
#map-getfeatures-markers li {font-size:9px;color:#303030;list-style-image: url(../img/map-info-16x16.png);}
#datas-div-titre {height:30px;font-size:10px;width:100%;border: 0px solid #303030;width:100%;font-weight:bold;background:#16b84e;color:#ffffff;}
#markers-div-titre {height:30px;font-size:10px;width:100%;border: 0px solid #303030;width:100%;font-weight:bold;background:#16b84e;color:#ffffff;}
#flux-div-titre {height:30px;font-size:10px;width:100%;border: 0px solid #303030;width:100%;font-weight:bold;background:#16b84e;color:#ffffff;}
#datas-lib-champs {width:100%;font-size:7pt;font-weight:bold;background:#ffffff;color:#7f7f7f;}
#datas-value-champs {width:auto;font-size:7pt;font-weight:bold;background:#ffffff;color:#000000;}
#markers-lib-champs {width:100%;font-size:7pt;font-weight:bold;background:#ffffff;color:#7f7f7f;}
#markers-value-champs {width:auto;font-size:7pt;font-weight:bold;background:#ffffff;color:#000000;}
#map-layers{overflow-y: hidden;overflow-x: hidden;width:15%;position: absolute;top:0px;height:500px;border:1px solid #37508A;left:84%;background-color:#ffffff;color:black; border-radius:8px;font-size:9px;
    font-weight:normal;}
#map-getfeatures-datas{;text-transform: uppercase;overflow-y:scroll;border-right: 1px solid #000000;border-left: 1px solid #000000;border-bottom:1px solid #000000;height:10%;padding:2px;background-color:#ffffff; border-radius:0px;color:#000000;}
#map-getfeatures-markers{font-size:12px;text-transform: uppercase;overflow-y:scroll;border-right: 1px solid #000000;border-left: 1px solid #000000;border-bottom:1px solid #000000;height:10%;padding:2px;background-color:#ffffff;border-radius:0px;color:#000000;}
#map-getfeatures-flux  {font-size:12px;text-transform: uppercase;overflow-y:scroll;border-right: 1px solid #000000;border-left: 1px solid #000000;border-bottom:1px solid #000000;height:72%;padding:2px;background-color:#ffffff; border-radius:0px;color:#000000;}
#cadre-geom{background:#ffffff;padding:2px;color:#000000;font-size:9px;}
#layers {clear: both;margin: 0px;}
/* hide input */
#layers input.radio:empty {
	margin-left: -999px;
}
/* style label */
#layers input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.9em;
        width: 100%;
	text-indent: 3.25em;
	margin-top: 0.25em;
	cursor: pointer;        
        color:#5472AE;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#layers input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;irefox-at-ghostery-dot-com/ghostery/data/walkthrough.html
	left: 0;
	content: '';
	width: 2.5em;
	background:#ffffff;
	border-radius: 0px;
border:1px dotted #22427C;
}
/* toggle hover */
#layers input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: red;
border:1px solid #000000;
}
#layers input.radio:hover:not(:checked) ~ label {
	color: #000000;
}
/* toggle on */
#layers input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #ffffff;
	background-color:orange;
border:1px solid #000000;
font-size:10px;
}
#layers input.radio:checked ~ label {
	color: #000000;
}

/* radio focus */
#layers input.radio:focus ~ label:before {
	box-shadow: 1 1 1 1px #999;
}
#h-oui-non{height:20px;}
	
	#h-oui-non [type="checkbox"]:not(:checked),
	#h-oui-non [type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
/*position libelle*/
	#h-oui-non [type="checkbox"]:not(:checked) + label,
	#h-oui-non [type="checkbox"]:checked + label {
		position: relative;
		padding-left: 51px;
		cursor: pointer;
	}
	#h-oui-non [type="checkbox"]:not(:checked) + label:before,
	#h-oui-non [type="checkbox"]:checked + label:before,
	#h-oui-non [type="checkbox"]:not(:checked) + label:after,
	#h-oui-non [type="checkbox"]:checked + label:after {
		content: '';
		position: absolute;
	}
/*sous cercle*/
	#h-oui-non [type="checkbox"]:not(:checked) + label:before,
	#h-oui-non [type="checkbox"]:checked + label:before {
		left:0; top: -3px;
		width: 50px; height: 18px;
		background:#C4CECD;
		border-radius: 10px;
		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		-ms-transition: background-color .2s;
		transition: background-color .2s;
	}
/*cercle*/
	#h-oui-non [type="checkbox"]:not(:checked) + label:after,
	#h-oui-non [type="checkbox"]:checked + label:after {
		width: 10px; height: 10px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
		border-radius: 50%;
		background: darkgray;
		top: 2px; left: 5px;
	}
	/* on checked */
	#h-oui-non [type="checkbox"]:checked + label:before {
		background:orange;
	}
/* position cercle*/
	#h-oui-non [type="checkbox"]:checked + label:after {
		background: #ffffff;
		top: 1px; left: 35px;
	}
/*position du oui*/
	#h-oui-non [type="checkbox"]:checked + label .x99,
	#h-oui-non [type="checkbox"]:not(:checked) + label .x99:before,
	#h-oui-non [type="checkbox"]:checked + label .x99:after {
		position: absolute;
		left: 6px;
		width: 50px;
		border-radius: 10px;
		font-size: 11px;
		font-weight: normal;
		line-height: 11px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
	}
/*position non*/
	#h-oui-non [type="checkbox"]:not(:checked) + label .x99:before {
		content: "non";
		left: 23px;
                color:#202726;
	}
	#h-oui-non [type="checkbox"]:checked + label .x99:after {
		content: "oui";
		color: #ffffff;
	}
	#h-oui-non [type="checkbox"]:focus + label:before {
		border: 1px solid #777;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: -1px;
	}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height:2;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width:100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
background: MidnightBlue;
}
#cssmenu.align-right ul li {
  float: right;
  border-right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.22);
}
#cssmenu.align-right ul li a {
  border-right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
#cssmenu ul {
  background: MidnightBlue;
  /* Old browsers */

}
#cssmenu:after,
#cssmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu ul li {
  float: left;
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.22);
  z-index: 1;
  background: MidnightBlue;

}
#cssmenu ul li::after {
  width:auto;
  height: 8px;
  position: absolute;
  border-top-left-radius: 50% 2px;
  border-top-right-radius: 50% 2px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #8A8A8A 61%, #8A8A8A 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #8A8A8A 61%, #8A8A8A 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #8A8A8A 61%, #8A8A8A 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #8A8A8A 61%, #8A8A8A 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
  bottom: 10px;

}
#cssmenu ul li a {
  display: block;
  padding: 3px 3px;
  text-decoration: none;
  font-size:10px;
  text-transform: none;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 3;

}
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  color: #ffffff;
  text-decoration: none;

}
#cssmenu ul li:hover,
#cssmenu ul li.active {
  background:#7189D7;
 
}
